* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

span {
  display: block;
}

body {
  background-color: #050507;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

section {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  display: inline-block;
  border-bottom: solid 1px #fff;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 100px 0 45px;
}
@media screen and (max-width: 900px) {
  .section-title {
    font-size: 3rem;
    margin: 70px 0 30px;
  }
}

/*header*/
header {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  opacity: 0;
  transition: 1s;
}
header .header-title {
  position: fixed;
  top: 35px;
  left: 30px;
  z-index: 1000;
}
header nav {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #050507;
  position: fixed;
  top: -300px;
  left: 0;
  z-index: 999;
  transition: ease-in-out 0.6s;
}
header nav ul {
  padding: 80px 0 30px;
}
header nav ul li {
  padding: 10px 0;
}
header nav.active {
  top: 0;
}
header .hamburger {
  position: fixed;
  top: 35px;
  right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}
header .hamburger span {
  display: block;
  position: relative;
  width: 30px;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
}
header .hamburger span:nth-child(1) {
  top: 0px;
}
header .hamburger span:nth-child(2) {
  margin: 10px 0;
}
header .hamburger span:nth-child(3) {
  top: 0px;
}
header .hamburger.active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
header .hamburger.active span:nth-child(2) {
  opacity: 0;
}
header .hamburger.active span:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}

.fade-in {
  opacity: 0;
  transition: 2s;
  transform: translate(0, 150px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/*mainvisual*/
#mainvisual {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
#mainvisual .main-image {
  width: 33.3333333333%;
  height: 100vh;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 900px) {
  #mainvisual .main-image {
    width: 100%;
  }
}

/*main-title*/
.maintitle {
  text-align: center;
  font-size: 6.5rem;
  font-weight: 300;
  margin: 50px 0;
}
@media screen and (max-width: 900px) {
  .maintitle {
    font-size: 4.5rem;
    margin: 30px 0;
  }
}

/*information*/
#information span {
  font-size: 1.5rem;
}
#information p {
  line-height: 1.5;
}
#information h3 {
  margin: 25px 0 25px;
  font-size: 2.5rem;
  font-weight: 400;
}

/*gallery*/
#gallery {
  width: 50%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  #gallery {
    width: 90%;
  }
}
#gallery ul li {
  margin-bottom: 40px;
}
#gallery ul li:nth-child(odd) {
  text-align: left;
}
#gallery ul li:nth-child(even) {
  text-align: right;
}
#gallery ul li img {
  width: 60%;
}
@media screen and (max-width: 900px) {
  #gallery ul li img {
    width: 100%;
  }
}

/*access-img*/
.access-img {
  display: flex;
  position: fixed;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  transition: 1s;
  background-image: url(https://code-jump.com/demo/html/gallery/img/bg.jpg);
  background-position: center center;
}

/*access*/
#access {
  position: relative;
  margin: 400px 0;
  z-index: 200;
}
@media screen and (max-width: 900px) {
  #access {
    margin: 250px 0;
  }
}
#access h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 25px;
}
#access p {
  margin-bottom: 20px;
}
#access a {
  margin-top: 20px;
  margin: 0 auto;
  width: 300px;
  padding: 15px 80px;
  border: solid 1px #fff;
}

/*contact*/
#contact {
  position: relative;
  margin-bottom: 200px;
  z-index: 200;
}
#contact .contact-btn {
  margin: 25px auto;
  width: 400px;
  border: solid 1px #fff;
  padding: 30px 0;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  #contact .contact-btn {
    width: 90%;
  }
}
#contact .contact-btn:hover {
  opacity: 0.6;
}
#contact .contact-btn::before {
  content: "";
  display: block;
  position: relative;
  width: 15px;
  height: 1px;
  top: 5px;
  left: 425px;
  transform: rotate(30deg);
  background-color: #fff;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  #contact .contact-btn::before {
    display: none;
  }
}
#contact .contact-btn:hover::before {
  left: 435px;
}
#contact .contact-btn::after {
  content: "";
  display: block;
  position: relative;
  width: 110px;
  height: 1px;
  top: -10px;
  left: 330px;
  background-color: #fff;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  #contact .contact-btn::after {
    display: none;
  }
}
#contact .contact-btn:hover::after {
  left: 340px;
}

/*side-menu*/
.side-btn {
  display: flex;
  position: fixed;
  top: 70%;
  right: -205px;
  transform: rotate(-90deg);
  transition: 0.5s;
  z-index: 400;
}
@media screen and (max-width: 900px) {
  .side-btn {
    display: none;
  }
}
.side-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 180px;
  height: 50px;
}

/*footer*/
footer {
  border-top: 1px solid #fff;
  margin-bottom: 50px;
}
footer .footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 30px 0;
}
@media screen and (max-width: 900px) {
  footer .footer-item {
    display: block;
  }
}
footer .footer-item .footer-access {
  font-size: 0.75rem;
  margin-bottom: 20px;
  line-height: 1.6;
}
footer .footer-item .footer-sns {
  display: flex;
  margin-top: 30px;
}
footer .footer-item .footer-sns a {
  padding-right: 10px;
  font-size: 0.75rem;
}
footer .copyright {
  display: flex;
  font-size: 0.8rem;
  margin-top: 85px;
}
@media screen and (max-width: 900px) {
  footer .copyright {
    margin-top: 0px;
  }
}
footer .copyright a {
  margin-right: 20px;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */